$baseFont:'Montserrat', sans-serif;
$baseColor:#032D3C;
$secondaryColor:#7868E6;
$blueColor: #7868E6;
$white:#EDEEF7;
$blackColor:#000;
$boderColor:#7868E6;
$dimbg:#032D3C;
$darkbg: #072530;
$hoverColor: #7868E6;
$buttonDisabled:#496989;
$noFeedColor:#00FFBA;
$gradientColor: linear-gradient(268deg, #8b26f4 0%, #C996CC 100%);
$gradientReverse: linear-gradient(268deg, #8b26f4 0%, #C996CC 100%);


